@keyframes SwitchSlideForward {
  0% {
    width: 50%;
    margin-left: 0;
  }
  40% {
    width: 92.5%;   /* stretch forward */
    letter-spacing: 1.15em;
    text-indent: 2.5px;
    margin-left: 0;
  }
  70% {
    width: 45%;    /* trailing edge starts to catch up */
    margin-left: 45%;
  }
  100% {
    width: 50%;    /* back to normal width */
    margin-left: 48%; /* fully shifted */
  }
}

@keyframes SwitchSlideBackward {
  0% {
    width: 50%;
    margin-left: 48%;
  }
  40% {
    width: 92.5%;   /* stretch backward */
    letter-spacing: 1.15em;
    text-indent: -2.5px;
    margin-left: 1.125%;
  }
  70% {
    letter-spacing: 0.1em;
    width: 35%;    /* trailing edge catching up */
    margin-left: 5%;
  }
  100% {
    width: 50%;
    margin-left: 1.125%; /* fully reset */
  }
}

.toggle-switch-btn {
  display: flex;
  cursor: default;
  padding: 3.5px;
  background: whitesmoke;
  box-sizing: content-box;
  box-shadow: inset 0 0 2.5px rgba(0,0,0,0.45), 0 1px 2.5px rgba(0,0,0,0.45);
  border: 3px solid #80b5db;
  border-radius: 1cm;
  width: 70px;
  height: min-content;
  -webkit-user-select: none !important;
  user-select: none !important;
}

.toggle-switch-inner-frame {
  display: flex;
  align-items: center;
  cursor: default;
  border: 3px solid #afdeff;
  border-radius: 1cm;
  box-sizing: border-box;
  background: white;
  padding: calc(2.5px / 2);
  flex: 0 1 auto;
  width: 97.5%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.toggle-switch-slider-element {
  overflow: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
  align-self: center;
  text-indent: -1.125px;
  text-align: flex-start;
  font-family: Monospace !important;
  font-weight: bold;
  font-size: 0.75em;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 1cm;
  box-sizing: border-box;
  background: #479dda;
  padding: 5px;
  width: 52.5%;
  margin-left: 1.125%;
  transition: all 0.3s ease;
  animation: none;
  min-width: 25px !important;
  color: whitesmoke;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  will-change: width, margin-left !important;
  outline-offset: 1px;
  outline: none;
}

.toggle-switch-slider-element:focus-within {
  outline: 3px solid #afdeff !important;
}

.toggle-switch-slider-element.slide-forward {
  margin-left: 48%; /* persistent end state */
  animation: SwitchSlideForward 0.5s ease forwards !important;
}

.toggle-switch-slider-element.slide-backward {
  margin-left: 1.125%; /* persistent end state */
  animation: SwitchSlideBackward 0.5s ease forwards !important;
}
