@media (max-width: 762px) {
    #bottom-background-decoration {
        transform: scaleY(0.825) !important;
    }
}

#bottom-background-decoration {
    position: fixed !important;
    pointer-events: none !important;
    background: transparent;
    bottom: 0;
    left: 0;
    right: auto;
    z-index: 9999 !important;
    opacity: 0.85 !important;
    flex: 0 1 auto !important;
    transition: transform 0.3s ease-in-out !important;
    transform: scaleY(1.05);
    width: 100% !important;
}

.wave-background-decoration-SVG {
    -webkit-user-select: none;
    user-select: none;
    width: 100% !important;
}
