#InfoTheDay {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #ccc;
    padding: 12.5px;
    position: absolute;
    margin-right: 10px;
    border-radius: 15px;
    background: #479dda;
    margin-right: 28.5vw;
    transition: all 0.85s ease;
}

#motivationMessageContainer {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    position: relative !important;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: #80b5db;
    padding-inline: 5px;
    padding-block: 2.5px;
}

#motivationMessage {
    border: 2px solid #ccc;
    border-radius: 0.5cm;
    background: whitesmoke;
    padding-inline: 12.5px;
    padding-block: 10px;
    font-size: 2em;
    font-weight: bold;
}
