@media (max-width: 762px) {
    #InfoTheDay {
        top: 405.5px !important;
        left: 180px !important;
        height: fit-content !important;
        width: fit-content !important;
    }
}

#InfoTheDay {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    padding: 12.5px;
    position: absolute;
    border-radius: 15px;
    background: #479dda;
    margin-inline-end: 10px;
    min-width: 250px;
    /*width: 87.25%;*/
    max-width: 100%;
    transition: all 0.5s ease;
    margin-top: -47.5px;
    height: auto;
    left: 157.5px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.375), inset 0 0 10px rgba(0, 0, 0, 0.45);
}

#motivationMessageContainer {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    position: relative !important;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: #80b5db;
    padding: 2.5px;
    padding-inline: 15px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
    min-width: 100%;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
    cursor: default !important;
    transition: all 0.3s;
}

#motivationMessageContainer:hover {
    transform: scale(1.05);
    background: #86b0cd;
    border: 2px solid #8d8d8d;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

#motivationMessage {
    border: 2px solid #ccc;
    border-radius: 0.5cm;
    background: whitesmoke;
    padding-inline: 12.5px;
    padding-block: 10px;
    font-size: 2em;
    font-weight: bold;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.45));
    cursor: pointer;
    transition: all 0.3s;
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    box-sizing: border-box;
}

#motivationMessage:hover {
    background: rgba(240, 240, 240, 0.75);
}

#motivationMessage:active {
    background: rgba(240, 240, 240, 0.5);
}
