#settingsMenu {
    display: none;
    flex-direction: column !important;
    justify-content: flex-start !important;
    position: fixed !important;
    border: 3px solid #ccc;
    background: linear-gradient(white, whitesmoke, lightgray);
    border-radius: 15px;
    box-sizing: border-box !important;
    z-index: 10002 !important;
    margin: 20px;
    margin-top: 95px;
    top: 0 !important;
    left: 0 !important;
    padding: 10px;
    gap: 8px;
    width: 96.5%;
    opacity: 1;
    transition: all 0.65s;
}
