@keyframes expandMenuAnimation {
    0% { 
        height: 0;
        opacity: 0;
        transform: translateY(-20px);
    }
    50% { 
        height: 50%;
        opacity: 0.5;
        transform: translateY(0);
    }
    100% { 
        height: 100%;
        opacity: 1;
        transform: translateY(0);
    }
}

#toolbarExtension {
    display: none;
    flex-direction: column !important;
    position: fixed !important;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: #0586e3;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    padding: 10px;
    z-index: 10000 !important;
    top: 85px !important;  /* Position below top bar */
    left: 12.5px !important;
    width: 200px;
    min-height: 50px;
    max-height: 500px;
    overflow: hidden;
    transform-origin: top center;
    gap: 8px;
    transition: all 0.65s;
}

#toolbarExtension.expandMenuAnimation {
    animation: expandMenuAnimation 0.5s ease-out forwards;
}

#appButtonContainerWarp {
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 15px;
    background: #80b5db;
    padding-inline: 6.15px;
    padding-block: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    box-sizing: border-box !important;
    width: 100%;
    height: 100%;
}

#expandExtension {
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 5cm;
    background: limegreen;
    padding: 5px;
    box-sizing: border-box !important;
}
