#toolbarExtension {
    display: none;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: top !important;
    align-content: auto !important;
    position: fixed !important;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: #0586e3;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    box-sizing: border-box !important;
    padding: 10px;
    z-index: 9999 !important;
    top: 65px !important;
    left: 10px !important;
    min-width: 200px;
    max-width: 300px;
    max-height: 500px;
    overflow-y: auto;
    overflow: hidden !important;
}

#appButtonContainerWarp {
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 15px;
    background: #80b5db;
    padding-inline: 6.15px;
    padding-block: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    box-sizing: border-box !important;
    width: 100%;
    height: 100%;
}

#expandExtension {
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 5cm;
    background: limegreen;
    padding: 5px;
    box-sizing: border-box !important;
}
