#UserNotificationListInterface>div {
    contain: paint;
    position: relative;
    padding: 3px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 191, 255, 0.75);
    border: 3px solid #ccc;
    border-radius: 15px;
    width: calc(100% - 10px);
    min-width: 0;
    margin: 0;
    gap: 6px;
}

#UserNotificationListInterface .notification-header {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    gap: 4px;
}

.notification-message,
.cancel-notification,
.notification-label   {
    position: relative;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35), inset 0 0 10px rgba(0, 0, 0, 0.45);
    margin: auto;
    min-width: 0;
}

.notification-label {
    width: auto;
    flex: 1 1 auto;
    contain: style;
    background: radial-gradient(aqua, aquamarine);
    background-clip: padding-box;
    font-weight: bolder;
    text-overflow: clip;
    text-justify: inter-ideograph;
    text-align: center;
    color: #f7f7f7;
}

.notification-message {
    background: #479dda !important;
    text-align: start;
    text-justify: newspaper;
    width: 100%;
}

.cancel-notification {
    display: flex;
    cursor: pointer !important;
    justify-content: safe;
    background: rgb(255, 75, 75) !important;
}

.cancel-notification>img {
    pointer-events: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}
