.featured-object {
    display: inline-block;
    padding: 10px;
    position: relative;
    border: 3px solid #ccc;
    background: white;
    border-radius: var(--radius-medium);
    box-sizing: border-box;
    min-height: max-content;
    min-width: 300px;
}

.featured-object-title {
    cursor: pointer;
    text-align: center;
    border: 3px solid #ccc;
    border-radius: var(--radius-liquid);
    background: whitesmoke;
    padding-block: 5px;
    width: auto;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    margin-top: 0;
    color: gray;
    transition: all 0.3s ease-out;
}

.featured-object-title:hover {
    border-radius: var(--radius-medium) !important;
    box-shadow: inset 0 0 8.75px rgba(0,0,0,0.45);
}
