UserNotificationListInterface:has(div.NotificationDeployed) {
    
}

#UserNotificationListInterface {
    display: flexbox;
    flex-flow: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: safe;
    margin-inline: 5px;
    position: fixed;
    padding: 10px;
    height: 150px;
    z-index: 9998;
    /* Visuals */
    background: rgba(5, 134, 227, 0.75);
    border: 3px solid #ccc;
    border-radius: 15px;
    /* Positioning Styles */
    top: var(--app-menu-top, var(--top-ui-height, 112.5px));
    right: 0;
}
