@keyframes NotificationListAppearence {
    0% {
        transform: scale(0.35) translateY(-25px);
    }
    42.5% {
        transform: scale(0.65) translateY(-2px);
    }
    65%, 40% {
        transform: scale(1.05) translateY(5px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@media (max-width: 812px) {
    #UserNotificationListInterface {
        top: calc(var(--app-menu-top-mobile, var(--top-ui-height, 75px) + 5px)) !important;
    }
}

#UserNotificationListInterface {
    display: none;
    flex-flow: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-inline: 5px;
    position: fixed;
    padding: 10px;
    height: 150px;
    /* width: 250px; */
    /* min-width: 250px; */
    z-index: 9999 !important;
    /* Visuals */
    background: rgba(5, 134, 227, 0.75);
    border: 3px solid #ccc;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Positioning Styles */
    top: var(--app-menu-top, var(--top-ui-height, 155px));
    right: 15px;
    gap: 6px;
}

#UserNotificationListInterface:has(div.NotificationDeployed) {
    display: flex !important;
    animation: NotificationListAppearence 0.5875s ease-out forwards !important;
}

#UserNotificationListInterface::-webkit-scrollbar {
    display: none !important;
}

#UserNotificationListInterface:has(.notification-list-content-header.default-dimensions) h3 {
    opacity: 0 !important;
    min-width: 0 !important;
    width: 0 !important;
}

.notification-list-content-header::before {
    content: "";
    position: absolute;
    top: 0;
}

.notification-list-content-header {
    display: flex;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
    text-align: center !important;
    contain: unset !important;
    box-sizing: border-box;
    position: relative;
    color: black;
    width: 100%;
}
