.about-page-container {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: white;
    padding: 3.75px;
    margin-top: -17.5px;
    transition: all 0.4s ease;
}

@media (max-width: 812px) {
    .about-page-container {
        margin-top: -12.5px !important;
    }
}

#aboutPageContentText {
    position: relative;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background: rgb(179, 245, 230);
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 13.5px;
    height: auto;
    min-height: 100px !important;
    max-height: 150px !important;
    box-sizing: border-box;
    box-shadow: inset 0 0 12.5px rgba(0, 0, 0, 0.45);
    transition: all 0.2s linear;
}

#aboutPageContentText:hover {
    background: rgb(160, 241, 222);
    box-shadow: inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

.about-text {
    position: relative;
    font-display: swap;
    font-variant: normal;
    font-feature-settings: on, "vpal";
    font-variant-ligatures: contextual;
    font-variant-alternates: historical-forms;
    break-inside: avoid-page;
    text-justify: distribute-all-lines;
    text-overflow: clip !important;
    text-wrap-style: auto;
    text-wrap-mode: wrap;
    text-rendering: auto;
    text-anchor: middle;
    line-break: loose;
}
