@keyframes HoverEffect {
    0% {
        transform: scale(1) translateY(0);
    }

    25% {
        transform: scale(1.0025);
    }

    65% {
        transform: translateY(-4.5px);
    }

    100%,
    85% {
        transform: scale(1.005) translateY(-3.5px);
    }
}

@keyframes ContentSectionOpen {
    0% {
        display: flex;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }

    100% {
        opacity: 1;
        height: 100%;;
        overflow: visible;
    }
}

@keyframes ContentSectionCollapse {
    0% {
        opacity: 1;
        height: initial;
        overflow: hidden;
    }

    100% {
        height: 0;
        opacity: 0;
        overflow: hidden;
        display: none;
    }
}

@media (max-width: 762px) {
    .content-section-text-title {
        font-size: 90% !important;
        padding-block: 5px !important;
    }
    .drag-content-section-container{
        padding-block: 25px !important;
    }
    #gamesMenuOpen {
        display: none !important;
    }
}

@media (max-width: 812px) {
    #settingsQuick {
        display: none !important;
    }
}

.content-section {
    position: relative;
    border: 3px solid #ccc;
    border-radius: 15px;
    background: #479dda;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.375), inset 0 0 10px rgba(0, 0, 0, 0.45);
    min-height: 150px;
    max-height: 300px;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.inner-frame-container::before {
    content: "";
    animation: ContentSectionOpen 0.5s ease forwards;
}

.inner-frame-container {
    display: inline-block;
    padding: 10px;
    position: relative;
    background: #80b5db;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.375), inset 0 0 10px rgba(0, 0, 0, 0.45);
    border: 3px solid #ccc;
    border-radius: 15px;
    /* min-height: 140px; */
    max-height: auto;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto !important;
    overflow-x: auto !important;
    animation: inherit;
    -webkit-overflow-scrolling: auto;
    animation-fill-mode: both;
    transition: all 0.3s ease;
}

.inner-frame-container.hidden-content-section {
    animation: ContentSectionCollapse 0.5s ease forwards !important;
}

.inner-frame-container::-webkit-scrollbar {
    width: 8px;
}

.inner-frame-container::-webkit-scrollbar-corner {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.45);
}

.inner-frame-container::-webkit-scrollbar-track {
    border-radius: 12.5px / 14.5px;
    background: transparent;
    padding: 4.5px;
}

.inner-frame-container::-webkit-scrollbar-thumb {
    cursor: ew-resize;
    border-radius: 12.5px / 14.5px;
    background: rgba(100, 149, 237, 0.625);
    border: 0.5px solid #ababab;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transform: scale(0.9) !important;
}

/* Individual class types */
.content-section.featured {
    max-height: unset;
}

.inner-frame-container.featured {
    display: flex;
    flex-direction: row;
    /* min-height: calc(140px * 2); */
    gap: 8px;
}

.content-section-text-title {
    cursor: pointer;
    display: block;
    flex: 1 1 auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    background: #0586e3bf;
    border: 3px solid #ccc;
    border-radius: 15px;
    text-align: center;
    /* Push content below down */
    margin-bottom: 5px;
    /* Text color white */
    color: white !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    transition: all 0.3s ease;
    font-size: 100%;
    width: 100%;
}

.content-section-text-title:hover {
    animation: HoverEffect 0.5s ease forwards !important;
    filter: saturate(150%);
}

.content-section-text-title:disabled {
    display: none;
}

.hide-content-section-button {
    cursor: pointer !important;
    border-radius: 15px;
    border: 4px solid darkgoldenrod;
    background: gold;
    height: 100%;
    padding: calc(25px / 1.25) calc(50px / 1.5);
    /* Text settings */
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    /* Shadow */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.hide-content-section-button:hover {
    animation: HoverEffect 0.5s ease forwards !important;
    filter: saturate(150%);
}

.hide-content-section-button.collapsed {
    background: limegreen;
    border: 4px solid greenyellow;
    scale: 0.95;
}

.drag-content-section-container {
    cursor: all-scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(245, 245, 245, 0.5);
    border: 3px solid #ccc;
    border-radius: 10px;
    /* Sizing */
    width: max-content;
    padding-block: 24.5px;
    height: max-content;
    /* Position */
    margin-top: 0;
    /* Transition */
    transition: all 0.3s ease;
    
    -webkit-user-select: none !important;
    user-select: none !important;
}

.drag-content-section-container:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    background: rgba(249, 249, 249, 0.98);
    animation: HoverEffect 0.5s ease forwards !important;
}