@keyframes expandMenuAnimation {
    0% { 
        height: 0;
        opacity: 0;
        transform: translateY(-20px);
    }
    50% { 
        height: 50%;
        opacity: 0.5;
        transform: translateY(0);
    }
    100% { 
        height: 100%;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes retractMenuAnimation {
    0% { 
        height: 100%;
        opacity: 1;
        transform: translateY(0);
    }
    50% { 
        height: 50%;
        opacity: 0.5;
        transform: translateY(-10px);
    }
    100% { 
        height: 0;
        opacity: 0;
        transform: translateY(-20px);
    }
}

#toolbarExtension {
    display: none;
    flex-direction: column !important;
    position: fixed !important;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: #0586e3;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    padding-inline: 10px;
    padding-block: 12.5px;
    z-index: 10000 !important;
    top: 85px !important;  /* Position below top bar */
    left: 12.5px !important;
    width: fit-content;
    min-width: 225px;
    max-width: 300px;
    min-height: 50px;
    max-height: 500px;
    overflow: hidden;
    transform-origin: top center;
    gap: 8px;
    transition: all 0.65s;
    overflow-y: auto;
    overflow-x: hidden;
}

#toolbarExtension.expandMenuAnimation {
    animation: expandMenuAnimation 0.5s ease-out forwards;
}

#toolbarExtension.retractMenuAnimation {
    animation: retractMenuAnimation 0.5s ease-out forwards;
}

#appButtonContainerWarp {
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 15px;
    background: #80b5db;
    padding: 6.15px 3.15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
    width: 85%; /* adjusted for spacing between elements */
    height: 100%;
    margin: 10px; /* added margin to create space between elements */
  }
  
/* Add the following styles to create a grid layout */
#appButtonContainerWarp {
    display: grid !important;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 5px; /* adjusted for spacing between elements */
    row-gap: 12.5px;
}

.wbt-toolbar-button {
    cursor: pointer !important;
    border: 2px solid #ccc;
    border-radius: 50px;
    transition: all 0.215s ease-in-out;
}

.wbt-toolbar-button:hover {
    border-radius: 7.5px;
}

#expandExtension {
    cursor: pointer !important;
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 5cm;
    background: limegreen;
    padding: 5px;
    box-sizing: border-box !important;
    top: 26.5px;
}
