:root {
    --formater-toolbar-height: 0px;
}

head {
    background: rgba(5, 134, 227, 0.65) !important;
    scroll-snap-type: mandatory;
}

@keyframes switchRotationAndScaleBounce {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(15deg) scale(1.15);
    }

    50% {
        transform: rotate(-10deg) scale(0.9);
    }

    75% {
        transform: rotate(5deg) scale(1.05);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes SwitchRotationAndScaleBounceAccountIconAndFadeIn {
    0% {
        transform: rotate(0deg) scale(1.25);
        opacity: 0.15;
    }

    25% {
        transform: rotate(180deg) scale(1.15);
        opacity: 0.5;
    }

    50%,
    100% {
        transform: rotate(270deg) scale(0.9);
        opacity: 0.35;
    }

    75% {
        transform: rotate(360deg) scale(1.05);
        opacity: 0.75;
    }

    100% {
        transform: rotate(0deg) scale(1.25);
        opacity: 1;
    }
}

/* .staticStickyUiFlex:has(#UserInputFormaterToolbar) #topUserInterfaceBar::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 57.5px;
    box-sizing: border-box;
    background-clip: border-box;
    border: 3px solid #8b8b8b;
    border-top: none;
    box-shadow: 0 5px 7.85px rgba(0, 0, 0, 0.375);
    border-radius: 0 0 20px 20px;
    pointer-events: none;
    z-index: 9000;
} */

/* Top UI bar that holds main user navigation */
#topUserInterfaceBar {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: safe !important;
    position: relative !important;
    border: 3px solid #8b8b8b;
    /* border-top: none !important; */
    border-left-width: 3px !important;
    border-right-width: 3px !important;
    border-left-color: rgba(139, 139, 139, 0.675) !important;
    border-right-color: rgba(139, 139, 139, 0.675) !important;
    /* border-radius: 0 0 10px 10px; */
    border-radius: 10px;
    background: rgba(5, 134, 227, 0.65) !important;
    box-sizing: border-box !important;
    box-shadow: inset 0 1px 19.85px rgba(0, 0, 0, 0.45);
    will-change: transform, opacity, background;
    max-height: var(--top-ui-height);
    width: calc(100% - 10px);
    contain: style;
    padding: 9.5px;
    top: 5px !important;
    left: 0 !important;
    right: 0 !important;
    margin-inline: 5px;
    z-index: calc(9999 + 100) !important;
    transform-origin: center;
    -webkit-background-composite: padding;
    -webkit-backdrop-filter: blur(2px);
    -webkit-backdrop-filter: saturate(4px);
    backdrop-filter: blur(2px);
    backdrop-filter: saturate(4px);
    overflow-clip-margin: unset;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
    flex-flow: nowrap !important;
    flex-shrink: 1 !important;
    /* provides a CSS var for the app menu to reference; and adjusts if the bar changes size */
    --top-ui-height: calc(100px - 5px);
    --toolbar-width: calc(100% - 10px);
}

/* Main Logo Styles */
@media (max-width: 812px) {
    #mainLogo::after {
        display: none !important;
    }

    #mainLogo {
        /* margin: auto 10px auto 25px !important; */
        transform: scale(0.825) !important;
        /* left: 50% !important; */
    }

    #mainLogo:hover>img {
        animation: none !important;
    }
}

#mainLogo::after {
    content: '';
    inset: 0;
    position: relative;
    border-left: 2px solid #707070;
    border-right: 2px solid #707070;
    padding-inline: 37.5px;
    padding-block: 10px;
    left: -10px;
    top: -38.5px;
    width: max-content;
    transition: all 0.3s ease;
    outline: 4px double transparent;
    outline-offset: -4px;
}

#mainLogo {
    position: relative;
    display: flex;
    flex-shrink: 1 !important;
    pointer-events: all !important;
    cursor: pointer !important;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background: rgba(5, 134, 227, 0.75);
    border: 3px solid #0586e3;
    border-radius: 100px;
    transition: all 0.3s ease;
    margin: auto 15px auto 5px;
    outline: 4px double transparent;
    outline-offset: -4px;
}

#mainLogo:focus-within {
    outline-color: #0072ff !important;
    outline-offset: 1px;
}

#mainLogo img {
    display: block;
    pointer-events: none !important;
    image-rendering: optimizeQuality !important;
    user-select: none !important;
    transition: all 0.3s ease;
    margin-top: 0;
}

@keyframes spinAccelerateLogo {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50%,
    75% {
        transform: rotate(270deg) scale(1.25);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

#mainLogo:hover>img {
    animation: spinAccelerateLogo 0.585s ease-in-out forwards;
}

#mainLogo:hover::after {
    left: -11.5px !important;
    width: 50px !important;
    padding-inline-end: 42.5px !important;
    padding-inline-start: 35px !important;
}

#mainLogo:hover {
    border-color: #30a9ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

#mainLogo:active {
    border-color: #479dda;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

/* @keyframes prev {
    0% {
        transform: rotateY(180deg);
    }
    50%, 45% {
        transform: rotateY(-180deg);
    }
    100% {
        
    }
}

#topUserInterfaceBar::after {
    content: '';
    inset: 0;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none !important;
    transform-style: preserve-3d !important;
    animation: prev 1s forwards ease-out;
} */

/* Interface button media sizing for device display */
@media (max-width: 812px) {
    #accountExpandInfo {
        transform: scale(0.825) !important;
    }

    #expandMenuToolbar {
        transform: scale(0.825) !important;
    }

    #topUserInterfaceBar {
        transform: scale(1) !important;
        height: 62.5px !important;
    }

    #appMenuOpen,
    #settingsQuick,
    #resourcesMenuOpen,
    #gamesMenuOpen {
        transform: scale(0.825) !important;
    }

    #appMenuOpen:hover,
    #settingsQuick:hover,
    #resourcesMenuOpen:hover,
    #gamesMenuOpen:hover {
        transform: scale(0.85) !important;
    }

    #appMenuOpen:active,
    #settingsQuick:active,
    #resourcesMenuOpen:active,
    #gamesMenuOpen:active {
        transform: scale(0.775) !important;
    }

    .settings-quick-text,
    .apps-menu-text,
    .games-menu-text,
    .resources-menu-text {
        display: none !important;
    }

    #pageTitle {
        transform: scale(0.75) !important;
        font-size: 0.7em !important;
        will-change: contents !important;
        display: none !important;
    }

    .appMenuOpenButtons {
        gap: 6px !important;
    }

    .appMenuOpenButtons.right-section {
        gap: 4px !important;
    }

    .moreFromHtWebzContainer {
        transform: scale(0.7) !important;
        background: rgba(210, 210, 210, 0.875) !important;
        gap: 4px !important;
        right: 10px !important;
        max-height: calc(85.5px / 0.7) !important;
    }
}

#expandMenuToolbar,
#appMenuOpen,
#settingsQuick,
#gamesMenuOpen,
#resourcesMenuOpen {
    outline: rgba(5, 134, 227, 0.65) 4px transparent !important;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
    transition: outline 0.3s ease, box-shadow 0.3s ease;
}

#expandMenuToolbar:focus,
#appMenuOpen:focus-within,
#settingsQuick:focus-within,
#gamesMenuOpen:focus-within,
#resourcesMenuOpen:focus-within {
    outline: rgba(5, 134, 227, 0.65) 4px double !important;
    outline-offset: 1px !important;
}

.appMenuOpenButtons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center;
    align-content: center;
    user-select: none !important;
    flex: 0 1 auto;
    gap: 12px;
}

.appMenuOpenButtons.central-content {
    display: inline-flexbox;
    min-width: 0;
    width: 100%;
}

.appMenuOpenButtons.right-section {
    justify-content: last baseline;
    alignment-baseline: mathematical;
    vertical-align: top;
    gap: 8px !important;
}

#accountExpandInfo {
    pointer-events: all !important;
    cursor: pointer !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 1cm;
    background: rgba(255, 255, 255, 0.85) !important;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    gap: 9.5px !important;
    box-sizing: border-box;
    transition: all 0.3s, outline-offset 0.75s ease-out;
    transform: scale(1);
    flex: none !important;
    -webkit-backdrop-filter: blur(1.1px);
    backdrop-filter: blur(0.1px);
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45) !important;
    object-fit: contain;
    outline: 4px double transparent;
    outline-offset: -4px;
}

#accountExpandInfo:focus-within {
    outline-color: #0072ff !important;
    outline-offset: 1px;
}

#accountExpandInfo:hover {
    transform: scale(1.1);
    background: rgb(215, 215, 215);
    border: 3px solid #8d8d8d;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

#accountExpandIcon {
    position: relative;
    user-select: none !important;
    pointer-events: none !important;
    background: rgb(236, 235, 235);
    border: 2px solid #ccc;
    border-radius: 1cm;
    image-orientation: from-image;
    transition: all 0.3s ease-out, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
    transform-origin: center center;
    transform: scale(1.25);
    padding: 2px;
}

#accountExpandIcon.fade-in {
    animation: SwitchRotationAndScaleBounceAccountIconAndFadeIn 0.65s ease forwards !important;
}

#accountExpandInfo:hover>#accountExpandIcon {
    transform: scale(1.325) rotate(360deg);
}

#accountExpandInfo:active>#accountExpandIcon {
    transform: scale(1.15) !important;
}

#accountExpandInfo:active {
    transform: scale(0.95) !important;
    transition: all 0.3s ease-out !important;
}

#expandMenuToolbar {
    pointer-events: all !important;
    cursor: pointer !important;
    pointer-events: all !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 1cm;
    background: rgba(255, 255, 255, 0.785) !important;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    gap: 9.5px !important;
    box-sizing: border-box;
    transition: all 0.3s;
    transform: scale(1);
    flex: none !important;
    -webkit-backdrop-filter: blur(1.1px);
    backdrop-filter: blur(0.1px);
}

#expandMenuToolbar:hover {
    transform: scale(1.1);
    background: rgb(215, 215, 215);
    border: 3px solid #8d8d8d;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

#expandToolbarIcon {
    position: relative;
    user-select: none !important;
    pointer-events: none !important;
    background: rgb(236, 235, 235);
    border: 2px solid #ccc;
    border-radius: 1cm;
    transition: all 0.3s ease-out !important;
    transform-origin: center center;
    transform: scale(1.25);
    padding: 2px;
}

#expandMenuToolbar:hover>#expandToolbarIcon {
    transform: scale(1.325);
}

#expandMenuToolbar:active>#expandToolbarIcon {
    transform: scale(1.15) !important;
}

#expandMenuToolbar:active {
    transform: scale(0.95) !important;
    transition: all random(0.15s, 0.3s, 0.01s) ease-out !important;
}

#appMenuOpen::before {
    width: initial;
}

#appMenuOpen {
    pointer-events: all !important;
    cursor: pointer !important;
    pointer-events: all !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    position: relative !important;
    border: 3px solid #ccc;
    border-radius: 1cm;
    background: rgba(255, 255, 255, 0.85);
    user-select: none;
    font-weight: bold;
    padding: 10px;
    gap: 9.5px !important;
    box-sizing: border-box;
    transition: all 0.3s;
    transform: scale(1);
    width: inherit;
    -webkit-backdrop-filter: blur(1.1px);
    backdrop-filter: blur(0.1px);
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45) !important;
}

#appMenuOpen:hover {
    transform: scale(1.1);
    background: rgba(235, 235, 235, 0.85) !important;
    border: 3px solid #8d8d8d;
}

#appMenuIcon {
    position: relative;
    user-select: none !important;
    pointer-events: none !important;
    background: rgb(236, 235, 235);
    border: 2px solid #ccc;
    border-radius: 1cm;
    transition: all 0.3s ease-out !important;
    transform: scale(1.25) !important;
    padding: 2px;
}

.apps-menu-text {
    pointer-events: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    letter-spacing: 1.25px;
    transform: scaleY(1.25);
}

#appMenuOpen:hover>#appMenuIcon {
    transform: scale(1.325) !important;
}

#appMenuOpen:active>#appMenuIcon {
    transform: scale(1.15) !important;
}

#appMenuOpen:active {
    transform: scale(0.95) !important;
    transition: all random(0.15s, 0.3s, 0.01s) ease-out !important;
}

#settingsQuick {
    cursor: pointer !important;
    display: flex !important;
    flex: none !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    pointer-events: all !important;
    border: 3px solid #ccc;
    border-radius: 1cm;
    background: rgba(255, 255, 255, 0.85) !important;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    gap: 9.5px;
    box-sizing: border-box;
    transition: all 0.3s;
    transform: scale(1);
    width: fit-content;
    -webkit-backdrop-filter: blur(1.1px);
    backdrop-filter: blur(0.1px);
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45) !important;
}

#settingsQuick:hover {
    transform: scale(1.1);
    background: rgba(235, 235, 235, 0.85) !important;
    border: 3px solid #8d8d8d;
}

#settingsIcon {
    position: relative;
    user-select: none !important;
    pointer-events: none !important;
    background: rgb(236, 235, 235);
    border: 2px solid #ccc;
    border-radius: 1cm;
    transition: all 0.3s ease-out !important;
    transform: scale(1.25) !important;
    padding: 2px;
}

.settings-quick-text {
    pointer-events: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    letter-spacing: 1.25px;
    transform: scaleY(1.25);
}

#settingsQuick:hover>#settingsIcon {
    transform: scale(1.325) !important;
}

#settingsQuick:active>#settingsIcon {
    transform: scale(1.15) !important;
}

#settingsQuick:active {
    transform: scale(0.95) !important;
    transition: all random(0.15s, 0.3s, 0.01s) ease-out !important;
}

/* #gamesMenuOpen,
#resourcesMenuOpen {
    white-space: nowrap !important;
} */

#gamesMenuOpen {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
    position: relative;
    border: 3px solid #ccc;
    border-radius: 1cm;
    background: rgba(255, 255, 255, 0.85) !important;
    box-sizing: border-box;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s !important;
    transform-origin: center top center;
    -webkit-backdrop-filter: blur(1.1px);
    backdrop-filter: blur(0.1px);
    flex: 0 1 auto;
    gap: 9.5px;
}

#gamesMenuOpen.hoveringGamesMenuDefault {
    transform: scale(1.025);
    background: rgb(215, 215, 215);
    border: 3px solid #8d8d8d;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

#gamesMenuOpen.hoveringGamesMenuSmall {
    transform: scale(0.925);
    background: rgb(215, 215, 215);
    border: 3px solid #8d8d8d;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

#gamesMenuOpen:hover {
    transform: scale(1.025);
}

#gamesMenuOpen:hover>#gamesIconWrapper {
    animation: switchRotationAndScaleBounce 0.65s 0.2s cubic-bezier(0.25, 1, 0.5, 1.25) forwards !important;
}

#gamesIconWrapper {
    width: min-content;
    height: min-content;
    object-fit: cover;
    pointer-events: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
    background: rgb(236, 235, 235);
    border: 2px solid #ccc;
    border-radius: 1cm;
    padding: 2.5px 5px;
    max-width: max-content, min-content;
}

#gamesMenuIcon {
    pointer-events: none !important;
    will-change: scroll-position !important;
    image-rendering: optimizeSpeed !important;
    image-resolution: from-image !important;
}

.games-menu-text {
    pointer-events: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
    letter-spacing: 1.25px;
    transform: scaleY(1.25);
    text-size-adjust: flex;
    flex-shrink: 1 !important;
}

@keyframes FocusSpinAnimation {

    0%,
    35% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Search Bar Interactable */
#resourcesMenuOpen {
    margin-top: 0 !important;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 1 auto !important;
    /* Allow shrinking */
    flex-shrink: 1 !important;
    /* DOM Element Arrangment */
    justify-content: flex-start;
    align-items: safe;

    color: #333 !important;
    cursor: pointer !important;
    position: relative;
    border: 3px solid #ccc;
    border-radius: 1cm;
    background-color: rgba(255, 255, 255, 0.85) !important;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    font-weight: initial;
    padding: 10px;

    width: initial;

    transform: scale(1);
    transform-origin: center;
    transition: all 0.3s, padding-left 0.65s ease, border 1.125s ease-out, border-width 0.675s ease-out !important;
    will-change: border !important;
    -webkit-backdrop-filter: blur(1.1px);
    backdrop-filter: blur(0.1px);
    gap: 9.5px;
}

#resourcesMenuOpen:hover {
    transform: scale(1.0125);
}

#resourcesMenuOpen:has(.search-bar-input.open) {
    z-index: calc(9999 + 100) !important;
}

#resourcesMenuOpen:has(.ResourcesInteractable.Focused) {
    transform: scale(1) !important;
}

.ResourcesInteractable.Focused:hover {
    transform: unset !important;
}

.ResourcesInteractable.Focused {
    border-width: 4.5px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image-width: auto;
    background:
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)) padding-box,
        conic-gradient(from var(--angle), #0072ff 0deg, #00c6ff 90deg, #00f2ff 180deg, #00c6ff 270deg, #0072ff 360deg) border-box !important;
    animation: rotateGradient 3s linear infinite;
}

@keyframes rotateGradient {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

#resourcesMenuOpen:hover #resourcesIconWrapper {
    animation: switchRotationAndScaleBounce 0.65s 0.2s cubic-bezier(0.25, 1, 0.5, 1.25) forwards;
}

#resourcesIconWrapper {
    width: min-content;
    height: min-content;
    object-fit: cover;
    margin: auto;
    max-width: min-content;
    pointer-events: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
    background: rgb(236, 235, 235);
    border: 2px solid #ccc;
    border-radius: 1cm;
    padding: 2.5px 5px;
    animation: none;
}

.Resources-Icon-Wrapper-Div.FocusSpin {
    animation: FocusSpinAnimation 0.475s ease-out forwards !important;
}

/* @keyframes posDelay {
    0%, 99% { position: absolute; }
    100% { position: relative; }
} */

*:has(.ResourcesInteractable.Focused) #resourcesMenuOpen input {
    position: relative !important;
    min-inline-size: auto !important;
}

#resourcesMenuOpen input {
    /* padding-left: 15px !important; */
    position: absolute;
    white-space: nowrap;
    min-inline-size: 0;
}

#resourcesMenuOpen.hoveringResourcesDefault {
    transform: scale(1.025);
    background: rgb(215, 215, 215);
    border: 3px solid #8d8d8d;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

#resourcesMenuOpen.hoveringResourcesSmall {
    transform: scale(0.925);
    background: rgb(215, 215, 215);
    border: 3px solid #8d8d8d;
    box-shadow: 0 2px 8.5px rgba(0, 0, 0, 0.375), inset 0 0 17.5px rgba(0, 0, 0, 0.45);
}

#resourcesMenuIcon {
    pointer-events: none !important;
    image-rendering: optimizeSpeed !important;
    will-change: scroll-position !important;
    image-resolution: from-image !important;
}

.resources-menu-text {
    font-weight: bold;
    pointer-events: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
    letter-spacing: 1.25px;
    transform: scaleY(1.25);
    line-break: auto;
}

@keyframes expandWidth {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
        font-size: 1.5em;
    }

    100% {
        width: 285px;
    }
}

@keyframes fadeOutCover {

    0%,
    65% {
        opacity: 1;
    }

    80%,
    65%,
    100% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

#pageTitle {
    /* margin-top: auto; */
    flex: 0 1 auto;
    /* max-width: 50%; */
    white-space: nowrap;
    width: 100%;
    height: calc(100% / var(--top-ui-height));
    margin-left: 15px;
    margin-right: 15px;
    min-width: 0;
    /* Reserves space for absolute buttons */
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    text-overflow: clip !important;
    letter-spacing: 1.5px;
    font-family: sans-serif !important;
    font-weight: bolder !important;
    font-size: 1.85em !important;
    user-select: none !important;
    -webkit-text-stroke: 0.025em darkcyan;
    -webkit-text-fill-color: rgb(109, 255, 255);
    text-rendering: optimizeSpeed !important;
    box-sizing: border-box;
    box-shadow: inset 0 0 12.5px rgba(0, 0, 0, 0.325),
        0 2px 10px rgba(0, 0, 0, 0.375);
    background: rgba(0, 215, 215, 0.75);
    border: 2px solid #c0c0c0;
    border-radius: 1cm;
    padding: 8px 15px;
    padding-inline: 10px;
    position: relative;
    transition: all 0.3s, margin-right 0.1s ease !important;
    overflow: hidden !important;
    cursor: default !important;
    color: black;
}

#pageTitle::after {
    flex: auto;
    animation: expandWidth 1.2s ease-out !important;
}

/* Fade cover animation */
#pageTitle::before {
    content: '' !important;
    inset: 0 !important;
    position: fixed !important;
    background: rgb(0, 215, 215);
    border-radius: 7.5px;
    z-index: 999;
    box-sizing: border-box !important;
    will-change: auto !important;
    pointer-events: none !important;
    animation: fadeOutCover 1.5s ease-in-out forwards !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
}

/* #pageTitle::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    -webkit-mask: linear-gradient(to bottom, 
        transparent 0%, 
        #000 20%, 
        #000 80%, 
        transparent 100%);
    mask: linear-gradient(to bottom, 
        transparent 0%, 
        #000 20%, 
        #000 80%, 
        transparent 100%);
} */

#pageTitle span {
    position: relative;
    z-index: 0 !important;
}

#pageTitle:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.375), 0 2px 10px rgba(0, 0, 0, 0.375);
}

/* Properties for liquid effect positioning */
#appMenuOpen,
#settingsQuick,
#expandMenuToolbar,
#gamesMenuOpen,
#resourcesMenuOpen {
    --liquid-x: 50%;
    --liquid-y: 50%;
    contain: paint;
    position: relative;
    /* clip-path: inset(0 round 1cm); */
    /* overflow: hidden; */
}

/* Update liquid fill pseudo-elements with shadow */
#appMenuOpen::before,
#settingsQuick::before,
#expandMenuToolbar::before,
#gamesMenuOpen::before,
#resourcesMenuOpen::before {
    content: '';
    position: absolute;
    top: var(--liquid-y);
    left: var(--liquid-x);
    width: 0;
    height: 0;
    opacity: 0;
    background: radial-gradient(85% rgb(145, 145, 145), 75% rgb(220, 220, 220));
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-out, height 0.3s ease-out, box-shadow 0.5s ease-out, opacity 0.2s linear;
    box-shadow: inset 0 0 17.5px rgba(0, 0, 0, 0.45);
    background-blend-mode: color;
}

/* Pseudo hover effect */
#appMenuOpen:hover::before,
#settingsQuick:hover::before,
#expandMenuToolbar:hover::before,
#gamesMenuOpen:hover::before,
#resourcesMenuOpen:hover::before {
    opacity: 1;
    width: 150%;
    height: 150%;
    box-shadow: inset 0 0 27.5px rgba(0, 0, 0, 0.45),
        inset 0 0 42.5px rgba(0, 0, 0, 0.35);
}

/* Kill glow when the same element ALSO has .Focused */
#resourcesMenuOpen.Focused:hover::before {
    box-shadow: none !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    content: none !important;
    /* Trashes pseudo-element */
}

/* Enhanced click effect with deeper shadow */
#appMenuOpen.clicked::before,
#settingsQuick.clicked::before,
#expandMenuToolbar.clicked::before,
#gamesMenuOpen.clicked::before,
#resourcesMenuOpen.clicked::before {
    background: rgb(180, 180, 180);
    width: 350%;
    height: 350%;
    box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.55),
        inset 0 0 25px rgba(0, 0, 0, 0.45);
    transition: width 0.35s cubic-bezier(0.1, 0.8, 0.3, 1),
        height 0.35s cubic-bezier(0.1, 0.8, 0.3, 1),
        box-shadow 0.35s cubic-bezier(0.1, 0.8, 0.3, 1);
}

/* Remove old hover styles */
/* #appMenuOpen:hover,
#settingsQuick:hover,
#expandMenuToolbar:hover,
#gamesMenuOpen.hoveringGamesMenuDefault,
#gamesMenuOpen.hoveringGamesMenuSmall,
#resourcesMenuOpen.hoveringResourcesDefault,
#resourcesMenuOpen.hoveringResourcesSmall {
    background: transparent;
} */

/* Ensure content stays above liquid fill */
#appMenuOpen *,
#settingsQuick *,
#expandMenuToolbar *,
#gamesMenuOpen *,
#resourcesMenuOpen * {
    position: relative;
    z-index: 1;
}

#gamesMenuOpen.hoveringGamesMenuDefault,
#gamesMenuOpen.hoveringGamesMenuSmall,
#resourcesMenuOpen.hoveringResourcesDefault,
#resourcesMenuOpen.hoveringResourcesSmall {
    background: none;
}

#toolbarExtension {
    /* Initially hidden */
    display: none;
    flex-direction: column;
}
/*
    Formater Toolbar Styles
*/
@keyframes dropDownFromNaBar {
    0% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(10px);
    }
    50%, 45% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

#UserInputFormaterToolbar {
    scroll-behavior: smooth;
    display: flex; /* needs to be changed to "none"; when the Format Tools Manager logistics are fully completed. */
    cursor: default;
    position: sticky;
    padding: 10px;
    border: 3px solid #ccc;
    border-top: 2px solid transparent;
    border-radius: 0 0 15px 15px;
    -webkit-backdrop-filter: blur(0.75px);
    backdrop-filter: blur(0.75px);
    background: rgb(71, 157, 218, 0.875);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45), inset 0 0 10px rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    height: var(--formater-toolbar-height, initial);
    margin-inline: 20px;
    min-height: 50px;
    z-index: 9997;
    box-shadow: 
        -3px 0 5px -3px rgba(0, 0, 0, 0.3) inset, /* Left edge shadow */
        3px 0 5px -3px rgba(0, 0, 0, 0.3) inset,   /* Right edge shadow */
        0 -3px 3px rgba(0, 0, 0, 0.3) inset; /* Bottom edge shadow */
    /* This will be temporary; until the logistics script can handle this by itself */
    animation: dropDownFromNaBar 0.45s ease-out;
}

#formaterCloseBtn {
    background: rgb(255, 75, 75);
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 6.5px rgba(0, 0, 0, 0.35), inset 0 0 12.5px rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
}

.format-button {
    contain: paint;
    display: flow-root;
    box-sizing: border-box;
    background-clip: border-box;
    border: 2px solid #333;
    border-radius: 10px;
}
