.user-chat-menu {
    position: relative;
    padding: 10px;
    margin: 0;
    /* Flex configuration */
    flex-shrink: 1 !important;
    flex-grow: 1;
    /*  */
    object-fit: fill;
    box-sizing: border-box;
    -webkit-backdrop-filter: drop-shadow(inset 0 0 10px rgba(0,0,0,0.45));
    backdrop-filter: drop-shadow(inset 0 0 10px rgba(0,0,0,0.45));
    background: rgba(71, 157, 218, 0.75);
    border: 3px solid #ccc;
    border-radius: 15px;
    width: auto;
    /* Width constraints */
    max-width: 40vw;
    min-width: 0;
}
