/* Default Page Body Element Reference Styling */
body {
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(53, 171, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

:root {
    /* default width */
    --scrollbar-width: 8px;
}
 
body::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

body::-webkit-scrollbar-track {
    background: lightseagreen;
    border-radius: 7.5px;
    border: 2px solid #ccc;
    margin: 5px 0;
}

body::-webkit-scrollbar-thumb {
    background: darkcyan;
    border-radius: 7.5px;
    border: 2px solid rgba(204, 204, 204, 0.6);
    cursor: ns-resize !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.325);
}

::selection {
    color: #0072ff;
    background-color: rgba(5, 134, 227, 0.65);
    stroke-linejoin: round !important;
    stroke-width: 2px;
    stroke: rgb(53, 171, 255);
}
