/* Default Page Body Element Reference Styling */
body {
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(53, 171, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

:root {
    /* default width */
    --scrollbar-width: 8px;
}

body::-webkit-scrollbar {
    width: var(--scrollbar-width);
    scrollbar-gutter: stable;
}

body::-webkit-scrollbar-track {
    position: relative;
    background-clip: padding-box;
    background: lightseagreen;
    border-radius: 7.5px;
    border: 4px solid transparent;
    outline: 2px solid #ccc;
    outline-offset: -2px;
    margin: 5px;
    scroll-margin-inline-end: 5px;
}

body::-webkit-scrollbar-thumb {
    background: darkcyan;
    border-radius: 7.5px;
    border: 2px solid rgb(204, 204, 204, 0.6);
    cursor: ns-resize !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.325);
}
