/* Default Page Body Element Reference Styling */
body {
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(53, 171, 255);
    overflow-y: auto;
    overflow-x: hidden;
}
