.search-bar-input {
    position: fixed;
    top: 0;
    right: 0 !important;
    /* lock right edge */
    left: auto !important;
    /* makes sure left is never used */
    margin: 0 !important;
    /* kill any auto margins */

    width: 0;
    /* collapsed */
    height: 32px;
    padding-block: 7.5px;
    padding-inline: 2.5px;
    border: 2px solid #8b8b8b;
    border-radius: 15px;
    background: rgb(235, 235, 235);
    text-indent: 8.5px;
    text-overflow: ellipsis;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    outline: none;
    outline-offset: -2px;
    box-shadow: none;
    will-change: width, opacity, border-radius;
    transition:
        width 0.65s ease,
        opacity 0.4s ease,
        border-radius 0.65s ease,
        box-shadow 0.3s ease;
    font-size: 16.15px;
    flex-wrap: nowrap;
}

.search-bar-input:focus {
    outline: 1px solid rgba(0, 195, 255, 0.5);
    outline-offset: 1.5px !important;
}

@media (max-width: 762px) {
    .search-bar-input.open {
        width: 80px !important;
        /* final width */
    }

    #search-results {
        right: 12.5px !important;
    }
}

.search-bar-input.open {
    display: inline-flex;
    width: 160px;
    /* final width */
    opacity: 1;
    pointer-events: auto;
    box-shadow: inset 0 0 10px rgba(149, 189, 201, 0.45);
    background: rgba(235, 235, 235, 0.65);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#search-results {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(85.5px + 3.5px);    /* sits below the input */
    right: 25px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    z-index: 10001;
    text-align: center !important;
    background: rgba(255, 255, 255, 0.65);
    border: 2px solid #ddd;
    border-radius: calc(15px / 2); /* Divide the border radius integer 15px by 2 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;    /* scrolls internally */
    overflow-x: hidden !important;
    gap: 4.5px !important;
    padding: 5px;
}

#search-results::-webkit-scrollbar {
    width: 8px;
}

#search-results::-webkit-scrollbar-track {
    background: gray;
    border-radius: 4px;
}

#search-results::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 4px;
    cursor: pointer !important;
}

.search-result-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(235, 235, 235, 0.65);
    text-overflow: ellipsis;
    text-rendering: optimizeSpeed !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-inline: calc(4.5px + 0.25px);
    padding-block-start: 5px;
    padding-block-end: 7.5px;
    min-height: calc(50px + 7.5px);
    width: 100%;
    margin-bottom: 4.5px;
}
